<div class="intro">

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="intro_container">
            <div class="row">

              <!-- Intro Item -->
              <div class="col-lg-4 intro_col">
                <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                  <div class="intro_icon"><img src="assets/images/beach.svg" alt=""></div>
                  <div class="intro_content">
                    <div class="intro_title">Top Scenic Stations</div>
                    <div class="intro_subtitle">
                      <p> We take you to visit amaizng scenery all around Sri Lanka. </p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Intro Item -->
              <div class="col-lg-4 intro_col">
                <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                  <div class="intro_icon"><img src="assets/images/wallet.svg" alt=""></div>
                  <div class="intro_content">
                    <div class="intro_title">Reasonable Prices</div>
                    <div class="intro_subtitle">
                      <p>You can experience all our services for reasonable price.</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Intro Item -->
              <div class="col-lg-4 intro_col">
                <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                  <div class="intro_icon"><img src="assets/images/suitcase.svg" alt=""></div>
                  <div class="intro_content">
                    <div class="intro_title">Comfortable Vehicals and Services</div>
                    <div class="intro_subtitle">
                      <p>Through us you can have comfortable vehicles for your journy.</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
