<header class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header_content d-flex flex-row align-items-center justify-content-start">
          <div class="header_content_inner d-flex flex-row align-items-end justify-content-start">
            <div class="logo"><a href="index.html">TravelLanka.com</a></div>

            <nav class="main_nav">

              <ul class="d-flex flex-row align-items-start justify-content-start">

                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Places</a></li>
                <li><a href="#">Travel Packages</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Book Now</a></li>
                <li><a href="#">About Us</a></li>
                            <!-- Contact -->
              </ul>

            </nav>

            <div class="hamburger ml-auto">
              <i class="fa fa-bars" aria-hidden="false"></i>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

