<div class="destinations" id="destinations">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="section_subtitle">amazing places in sri lanka</div>
        <div class="section_title">
          <h2>Popular Destinations</h2>
        </div>
      </div>
    </div>
    <div class="row destinations_row">
      <div class="col">
        <div class="destinations_container item_grid">

         

         

        </div>
      </div>
    </div>
  </div>
</div>
