<footer class="container-fluid bg-grey py-5">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="row">

          <div class="col-md-6 text-center">
            <div class="logo-part">
              <!-- <img src="https://i.ibb.co/sHZz13b/logo.png" class="w-50 logo-footer"> -->
              <h3>TravelLanka.com</h3>
              <p> </p>
              <p>We take you to visit amaizng scenery all around Sri Lanka. 
                <br> You can experience all our services for reasonable price.
            </p>
            </div>
          </div>

          <div class="col-md-6 px-4 text-center">
          
          <h6> Quick Access</h6>

          <ul>
            <li> <a href="#" class="btn-footer"> Book Now</a> </li>
            <li> <a href="#" class="btn-footer"> About Us</a> </li>
            <li> <a href="#" class="btn-footer"> Home</a> </li>
          </ul>
        </div>

        </div>
      </div>

      <div class="col-md-6">
        <div class="row text-center">

          <div class="col-md-6 px-4">

              <h6> Follow Us</h6>

            <p>But horizontal lines can only be a full pixel high.</p>
  
            <br>

            <div class="social">
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
            </div>


          </div>

          <div class="col-md-6">

            <div class="Copyright">

                <p>Website developed by <a href="http://www.vooralit.com">www.vooralit.com</a></p>

                <p>Copyright &copy; {{ date }} All rights reserved</p>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
 
</footer>
