<div class="home_search">

  <div class="container"> 

    <div class="center-contaner">

      <div class="row">

        <div class="col">

          <div class="home_search_container">

              <form action="#" class="home_search_form" id="home_search_form">

                <div class=" text-center">

                  <button class="home_search_button">Book Now</button>

                </div>

              </form>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
