<div class="home">

  <!-- Home Slider -->
  <div class="home_slider_container">

    <div class="owl-carousel owl-theme home_slider">

      <!-- Slide -->
     <app-home-slider></app-home-slider>

    </div>

    <div class="home_page_nav">

      <ul class="d-flex flex-column align-items-end justify-content-end">
        <li><a href="#" data-scroll-to="#destinations">Popular places in Sri Lanka<span>01</span></a></li>
        <li><a href="#" data-scroll-to="#testimonials">Popular Packages<span>02</span></a></li>
        <li><a href="#" data-scroll-to="#news">Our Vehicles<span>03</span></a></li>
      </ul>

    </div>

  </div>
  
</div>


<!-- Boock now container -->

<app-home-boock-container></app-home-boock-container>

<!-- Intro -->

<app-home-intro></app-home-intro>

<!-- Top places -->

<app-home-top-places></app-home-top-places>

